# JetBrains / PyCharm
.idea/
*.iml

# Python venv
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
*.egg-info/
dist/
build/

# Swig / paketit / generoidut
swig/
swigwin-*/
*.m4
*.yml

# Data / mallit
data/
datasets/
models/
checkpoints/

# OS
.DS_Store
Thumbs.db

